<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVICE_API_KEY</key>
	<string>46c0c93f</string>
	<key>SERVICE_API_TOKEN</key>
	<string>381bb662929a7881cd7067fc5de9d6f0</string>
</dict>
</plist>
